html{
	height: 100%;
	min-height: 100%;	
}
#navbar{
	display: grid;
	grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
	grid-template-rows: 40px;
	margin:0 20px 0 10px;
	grid-template-areas: 
	"about store . gmail image menu sign-in ";
}
a, p{
	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-family: Arial, Velvetica, Sans-serif;
	font-size: 13px;
}
a:hover{
	text-decoration: underline;

}
#about{ 
	grid-area: about;
	justify-content: center;
	align-self: center;

}
#store{
	grid-area: store;
	justify-content: center;
	align-self: center;

}
#gmail{
	grid-area: gmail;
	justify-content: center;
	align-self: center;

}
#image{
	grid-area: image; 
	justify-content: center;
	align-self: center;
	
}
#menu{
	grid-area: menu;
	justify-content: center;
	align-self: center;
	margin-left: 10px;
	
}
#sign-in{
	grid-area: sign-in;
	justify-content: center;
	align-self: center;
	height: 25px;
	width: 65px;
	line-height: 25px;
	background-color: #4683ea;
	text-align: center;
	color: white;
	font-weight: bold;
	border: 1px solid #4285f4;
}

#main {
	min-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px 50px 50px 190px; 
	grid-template-areas: 
	". logo ."
	". search ."
	". flexbox ."
	". google-offer ." ;
}

#logo {
	grid-area: logo;
	justify-content:center;
	align-self:end;
}
#search {
	grid-area: search;
	height: 30px;	
	align-self: center;
	justify-content: center;
	border: 1px solid rgba(0,0,0,0.151);
	border-radius: 30px; 
}
#search:focus{
	box-shadow: 1px 1px 5px grey;

}
#search:hover {
	box-shadow: 1px 1px 5px grey;
}

#flexbox {
	display: flexbox;
	grid-area: flexbox;
	align-self: center;
	justify-content:center;
	margin-right: auto;
	margin-left: auto;
}
#google-search-btn {
	border: none;
	font-size: 15px;
	color: #5F6368; 
	margin-right: 25px;
	padding: 7px 15px 7px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

}
#random-search-btn{
	border: none;
	font-size: 15px;
	color: #5F6368; 
	padding: 7px 15px 7px 15px ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#google-search-btn:hover{
	border: 1px solid rgba(0,0,0,0.226);
}
#random-search-btn:hover{
	border: 1px solid rgba(0,0,0,0.226);	
}
#google-search-btn: focus{
	background: #eee;
	border: 1px solid rgba(0,0,0,0.226);
}
#random-search-btn:focus{
	background: #eee;
	border: 1px solid rgba(0,0,0,0.226);
 }
#google-offer{
	grid-area:google-offer;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}
#deutsch{
	color: blue;
}
#footer{
	display:grid;
	grid-template-columns: 100px 100px 150px 1fr 70px 70px 70px;
	grid-template-rows:50px;
	margin-left: 15px;
	align-self:center;
	grid-template-areas:
	"advertising business how . privecy terms setting";
}
#advertising{
	grid-area: advertising;
	justify-content:center;
	align-self: center;

}
#business{
	grid-area: business;
	justify-content:center;
	align-self: center;

}
#how{
	grid-area: how;
	justify-content:center;
	align-self: center;
}
#privecy{
	grid-area: privecy;
	justify-content:center;
	align-self: center;

}
#terms{
	grid-area: terms;
	justify-content:center;
	align-self: center;
}
#setting{
	grid-area: setting;
	justify-content:center;
	align-self: center;
}